name: "Release"

on:
  release:
    types:
      - "published"

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.1"

      - name: Update version
        run: |
          sed -i "s/\"version\": \".*\"/\"version\": \"${{ github.event.release.tag_name }}\"/" custom_components/inception/manifest.json

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: 'Bump version to ${{ github.event.release.tag_name }}'
          push: origin HEAD:main

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/inception"
          zip inception.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@v2.5.0"
        with:
          files: ${{ github.workspace }}/custom_components/inception/inception.zip
