name: "Test"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    name: "Test"
    runs-on: "ubuntu-latest"

    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.2"

      - name: "Set up Python"
        uses: "actions/setup-python@v6.2.0"
        with:
          python-version: "3.13"
          cache: "pip"

      - name: "Install requirements"
        run: python3 -m pip install -r requirements.txt

      - name: "Run tests"
        run: python3 -m pytest tests/ -v --tb=short

